{% extends 'base_main.html' %}
{% block title %}
    天天生鲜-购物车
{% endblock %}
{% block content %}
    {% block private %}
        <div class="total_count">全部商品<em>0</em>件</div>
        <ul class="cart_list_th clearfix">
            <li class="col01">商品名称</li>
            <li class="col02">商品单位</li>
            <li class="col03">商品价格</li>
            <li class="col04">数量</li>
            <li class="col05">小计</li>
            <li class="col06">操作</li>
        </ul>
        {% if goods_all %}
            {% for goods in goods_all %}
                <ul class="cart_list_td clearfix">
                    <li class="col01"><input type="checkbox" name="sing_checkbox" checked></li>
                    <li class="col02"><img src="/media/{{ goods.0.goods_front_image }}"></li>
                    <li class="col03">{{ goods.0.name }}<br><em>{{ goods.0.shop_price }}/500g</em></li>
                    <li class="col04">500g</li>
                    <li class="col05" id="price_{{ goods.0.id }}">{{ goods.0.shop_price }}元</li>
                    <li class="col06">
                        <div class="num_add">
                            <a href="javascript:;" class="add fl"
                               onclick="add_cart({{ goods.0.id }}, {{ goods.0.goods_nums }})">+</a>
                            <input type="text" class="num_show fl" value="{{ goods.1 }}"
                                   id="goods_cart_{{ goods.0.id }}"
                                   onblur="change_val({{ goods.0.id }}, {{ goods.0.goods_nums }})">
                            <a href="javascript:;" class="minus fl" onclick="sub_cart({{ goods.0.id }})">-</a>
                        </div>
                    </li>
                    <li class="col07" id="total_{{ goods.0.id }}">{{ goods.2 }}元</li>
                    <li class="col08"><a href="{% url 'carts:del_cart' goods.0.id %}">删除</a></li>
                </ul>
            {% endfor %}
        {% endif %}
        <ul class="settlements">
            <li class="col01"><input type="checkbox" name="all_checkbox" checked></li>
            <li class="col02">全选</li>
            <li class="col03">合计(不含运费)：<span>¥</span><em id="total_price">42.60</em><br>共计<b>2</b>件商品</li>
            <li class="col04"><a href="place_order.html">去结算</a></li>
        </ul>
    {% endblock %}
{% endblock %}


{% block js2 %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
         function add_cart(goods_nums){
              var v = $('.num_show').val()
              var new_value = parseInt(v) + 1
              if (new_value <= goods_nums){
                  $('.num_show').val(new_value)
                  var price = $('.show_pirze em').text()
                  var new_total = price * new_value
                  $('.total em').text(new_total.toFixed(1) + ' 元')
              }
         }

         function sub_cart(){
             var v =  $('.num_show').val()
             var new_value = parseInt(v) - 1
             if (new_value > 0){
                 $('.num_show').val(new_value)
                 var price = $('.show_pirze em').text()
                 var new_total = price * new_value
                 $('.total em').text(new_total.toFixed(1) + ' 元')
             }
         }

         function change_val(goods_nums) {
             var v = $('.num_show').val()
             if (parseInt(v) > 0){
                if(v <= goods_nums && v > 0){
                     var price = $('.show_pirze em').text()
                     var new_total = parseInt(v) * price
                     $('.total em').text(new_total.toFixed(1) + ' 元')
                 }
                 if (v > goods_nums){
                     $('.num_show').val(goods_nums)
                     var v = $('.num_show').val()
                     var price = $('.show_pirze em').text()
                     var new_total = parseInt(v) * price
                     $('.total em').text(new_total.toFixed(1) + ' 元')
                 }
             }else{
                 $('.num_show').val(1)
                 var price = $('.show_pirze em').text()
                 var new_total = 1 * price
                 $('.total em').text(new_total.toFixed(1) + ' 元')
             }
         }

         function add_to_cart(id) {
            var nums = $('.num_show').val()
            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
             $.ajax({
                 url: '/carts/add_cart/',
                 data: {'goods_id': id, 'nums': nums},
                 type: 'POST',
                 dataType: 'JSON',
                 headers: {'X-CSRFToken': csrf},
                 success: function (data) {
                     if(data.code == '200'){
                         $('#show_count').text(data.goods_count)
                     }
                 },
                 error: function (data) {
                     alert('添加失败')
                 }
             })
         }
    </script>
{% endblock %}